.in{
  padding: 50px;
  margin: 50px;
  height: 200px;
  width: 500px;
  border: 2 px white;
  align-items: center;
  text-align: center;
  background-color: bisque;
  color: black;
  .la{
    padding: 20px;
  }
}